
@{
    ViewData["Title"] = "UnAuthorised";
}

<center>
    <img src="~/images/Carlos.png" />
    <h1>Stop right there!</h1>
    <h2>Carlos does not recognise you! Try signing in before entering this page.</h2>
</center>

