/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

@keyframes spin {
    from {
        transform: scale(1) skew(0deg) rotate(0deg);
    }

    to {
        transform: scale(140) skew(0deg) rotate(36000deg);
    }
}

@keyframes spinInFromLeft {
    0% {
        transform: translateX(-150%) rotate(0deg);
    }

    100% {
        transform: translateX(0) rotate(720deg);
    }
}
#CarlosImg {
    animation: 5s ease-out 0s 1 spinInFromLeft;
    position: fixed;
    pointer-events: none;
}

#CarlosImg img:active {
        animation: spin 100s forwards;
    }

