@model EPCPolarBearSaver9001.Models.AddressFinder
@{
    ViewData["Title"] = "API";
}
<script src="~/js/AddressLineFromPostCode.js"></script>
<script src="~/js/ScoreFromAddress.js"></script>

    <div class="container">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>Enter address</h3>
                </div>
                <div class="panel-body">
                    <label asp-for="Postcode" class="control-label"></label>
                    <input asp-for="Postcode" class="form-control" id="PostcodeTextBox" />
                    <span asp-validation-for="Postcode" class="text-danger"></span>
                    <label asp-for="Address1" class="control-label"></label>
                    <select asp-for="Address1" class="form-control" id="AddressLineDropdown" disabled="disabled"></select>
                    <br />
                    <input type="submit" value="Get Score" id="GenerateScoreButton" class="btn btn-default" disabled="disabled" /><br />
                </div>
            </div>
        </div>
        <div class="form-group col-lg-3"">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3>EPC Score</h3>
                </div>
                <div class="panel-body">
                    <label id="EPCScoreLabel"></label>
                </div>
            </div>
        </div>
    </div>

